.mothership{
width: 100%;
  display: flex;
align-items: center;
justify-content: space-between;  
background-color: #363C5A;

}

.right-side{
display: flex;
align-items: center;

}
.middle-Side{
  display: flex;
  align-items: center;
}
.left-Side{
display: flex;
align-items: center;

}
.GGreview{
  margin-left: 25px;
  font-size: 20px;
font-weight: 500;
font-family: 'Inter', sans-serif;


}
.hamburber{
  margin-left: 25px;
}

.SearchBar {
  flex: 1;
  display: flex;
  align-items: center;
  width: 500px;
  height: 40px;
  border: none;
  padding: 10px;
  border-radius: 20px;
  
}

.SearchSvg {
  position: absolute;
  width: 45px;
  top: 18px;
  right: 10px; 
  transform: translateY(-50%);
}

.SearchContainer{

  position: relative;
}
.leftt-Side-Svg{
cursor: pointer;


}
.left-Side-Svg{
  transition: background-color 0.3s ease;
  cursor: pointer;

margin-right: 20px;



}
.Line{
  margin-top: 0px;
  height: 2px;


}
.SecondMotherShip{
  display: flex;
  align-items: center;
  height: 45px;
  background-color: #363C5A;
}
.SecondMotherShipFont{
  font-family: 'Inter', sans-serif;
  margin-left: 40px;
  font-size: 15px;

}
.Group-12{
  display: flex;
  width: 245px;
  height: 47px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  }
  .Rectangle-4142{
    transition: background-color 0.3s ease;

  width: 200px;
  height: 39px;
  display: flex;
  align-items: center;
  background: #FDD836;
  border-radius: 14px;
  }
  
  .POST-A-REVIEW{
  
  width: fit-content; 
  height: 30px;
  margin-left: 30px;
  
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  
  color: #000000;
  
  }
.Rectangle-4142:hover{
background-color: #FFF9DE;

}